.full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  position: relative;
}

.login-form-container {
  width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.alert-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050; /* Para que esté sobre el login */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
